.cards-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start ;
    // padding-top: 64px;
    // padding-bottom: 64px;
}

.cards-wrapper__box{
    flex-grow: 1;
}

.cards-wrapper__list {
    display: flex;
    align-items: center;
    @include list-unstyled;
    margin-left: -32px;
    flex-shrink: 0;
}

.cards-wrapper__item {
    display: block;
    background-image: url(/img/card.png);
    background-color: #f4f8ec;
    padding: 48px 32px 32px;
    width: calc(100% / 2 -32px);
    flex-shrink: 0;
    border-radius: 12px;
    margin-left: 32px;
    flex-grow: 1;
}

.cards-wrapper__banner {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $color-green;
    margin-bottom: 8px;
}

.cards-wrapper__title {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: $color-black;
    margin-bottom: 94px;
}

.cards-wrapper__link{
    display: inline-flex;
    align-items: center;
    padding: 12px 16px; 
    border: 2px solid $color-green;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: $color-black;
    background-color: transparent;
    white-space: nowrap;
    transition: background-color 0.4s ease,
        color 0.4s ease;

    &::after{
        content: "";
        display: block;
        background-image: url(../../img/right-scroll.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 6px;
        height: 9px;
        margin-left: 13px;
    }

    &:hover {
        color: $color-green;
        background-color: #fff;
      }
}


@include breakpoint-down (1000px) {    
    .cards-wrapper__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include list-unstyled;
        margin-left: 0;
        margin-top: -30px;
        flex-shrink: 0;
    }
    
    .cards-wrapper__item {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        flex-grow: 1;
    }
}


@include breakpoint-down (650px) {
    .cards-wrapper{
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start ;
        width: 100%;
    }

    .cards-wrapper__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include list-unstyled;
        margin-left: 0;
        margin-top: -30px;
        flex-shrink: 0;
    }
    
    .cards-wrapper__item {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        flex-grow: 1;
    }
}

