.hero__box {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero__button {
  width: 24px;
  height: 24px;
   position: absolute;
   right: 15px;
   top: 15px;
   background-color: transparent;
   border: transparent;
   background-image: url("../../img/icon-settings.svg");
   background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
   display: none;
   z-index: 9;
}

@include breakpoint-down(1050px){

  .hero__button {
    display: block;
  }

  .hero--open {
    .hero__button {
      background-image: url("../../img/icon-cross-black.svg");
    }
  }

}