.select-form {
  width: 112px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #f9f9f9;
  padding: 7px 6px;
}

.select-from__chosen {
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
  color:#d6d6d6;
  border-right: 1px solid #D1D1D1;
  padding-left: 6px;
  padding-right: 6px;
}

.select-form__group {
  display: flex;
  align-items: center;
}

.select-form__select {
  border: 0;
  background-color: #f9f9f9;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-black;
}
