.site-footer{
  padding-bottom: 64px;
}

.site-footer__copyright{
  font-family: $open-sans;
  font-size: 14px;
  line-height: 19px;
  color: $color-black;
}


@include breakpoint-down(700px){
    .site-footer__copyright{
      display: flex;
      justify-content: flex-start;
  }
} 