.total {
  margin-top: auto;
  background-color: #fff;
  padding: 16px 15px;
}

.total__title {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.total__price {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: $color-black;
  margin-top: 8px;
}

.total__shopping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
  border-top: 1px solid #EBEBEB;
  padding-top: 15px;
}

.total__shopping-continue {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: $color-black;
}

.total__shopping-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  padding: 13px 16px;
  background-color: $color-green;
  border: 2px solid #46760A;border-radius: 12px;
}

@media only screen and (max-width: 410px) {
  .total__shopping-link {
    font-size: 12px;
  line-height: 20px;
    white-space: nowrap;
  }
}